
            <div class="content">
                <a class="btn btn-success"><div class="fa fa-plus"> {{"Add" | translate}}</div></a>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                      <th scope="col">{{ "Id" | translate}}</th>
                      <th scope="col" >{{ "Avatar" | translate}}</th>
                      <th scope="col">{{ "LastName" | translate}}</th>
                      <th scope="col">{{ "FirstName" | translate}}</th>
                      <th scope="col">{{ "Email" | translate}}</th>
                      <th scope="col">{{ "Action" | translate}}</th>

                    </tr>
                  </thead>
                <tbody>          
                    <tr *ngFor="let user of listeusers">
            
                      <td>{{ user.id }}</td>
                      <td><img src="{{user.avatar}}"/>
                        </td> 
                      <td>{{user.first_name}}</td>
                      <td>{{user.last_name}}</td>
                      <td>{{ user.email }}</td>
                      <td>
                        <button class="btn btn-outline-light dropdown-toggle text-dark" data-bs-toggle="dropdown">
                                <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <button (click)="deleteUser(user.id)" class="dropdown-item  text-light">{{"Edit"| translate}}</button>
                            <button (click)="deleteUser(user.id)" class="dropdown-item  text-light">{{"Delete"| translate}}</button>
                          
                        </ul>
                    
                    </td>
                    </tr>
                
                </tbody>        
                  
                </table>
            </div>


       